<!DOCTYPE html>
<html>
  <head>
    <title>111111</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <table>
      <tr>
         <th>id</th><th>name</th><th>email</th><th>created_at</th>
      </tr>
   
      <% for (var i = 0; i < data.length;  i++) { %>
       <tr>
         <td><%= data[i].id %></td>
         <td><%= data[i].name %></td>
         <td><%= data[i].email %></td>
         <td><%= data[i].created_at %></td>
       </tr>    
      <% } %>
   </table>

  </body>
</html>
